/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ___ &trans

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    ___ ___ &kp C_VOL_UP &kp C_VOL_DN
    ___ ___ &kp C_BRI_UP &kp C_BRI_DN
            >;
        };
    };
};